
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f9f9f9;
}


nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-right: 15px;
}


.warning {
    background-color: #e9ff92;
    border: 1px solid rgb(255, 0, 0);
    padding: 15px;
    border-radius: 4px;
    margin: 20px 0;
    color: #a07903;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.badge-small, .badge-large {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.85em;
    color: white;
    display: inline-block;
}

.badge-small {
    background-color: #28a745;
}
.badge-large {
    background-color: #007bff;
}